<div class="container" style="margin-top: 140px">
  <h1>Esports Series</h1>

  <div *ngFor="let serie of series" class="result">
    <table>
      <tbody>
        <tr>
          <td class="team-cell">
            <div class="line-align team1">
              <div class="team">{{ serie.title.split(' ')[0] }}</div>
            </div>
          </td>
          <td class="result-score">
            <span [ngClass]="{ 'score-won': serie.teamOneScore > serie.teamTwoScore, 'score-lost': serie.teamOneScore < serie.teamTwoScore}">{{ serie.teamOneScore }}</span> -
            <span [ngClass]="{ 'score-won': serie.teamOneScore < serie.teamTwoScore, 'score-lost': serie.teamOneScore > serie.teamTwoScore}">{{ serie.teamTwoScore }}</span>
          </td>
          <td class="team-cell">
            <div class="line-align team2">
              <div class="team">{{ serie.title.split(' ')[2] }}</div>
            </div>
          </td>
          <td class="star-cell">
            <div class="map-and-stars">
              <div class="stars"><i class="fa fa-star star"></i></div>
              <div class="map map-text">{{ displayBestOf(serie.firstToWins) }}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
